/*
L'header ha size 43px nel css originale del w3c, con questo css modifico l'header
e gli elementi che ne subiscono le conseguenze. Commentare tutto se si vuole tornare
al css originale, o togliere la classe dai vari tag
 */
.template-header{
    box-shadow       : 0 4px 20px 0 #222;
    height           : 100px;
    background-color : teal!important;
}
.template-sidebar{
    width   : 300px;
    z-index : 3;
}
.template-main{
    margin-left : 300px;
    margin-top  : 100px;
}
.template-footer{
    /*background-color: #9c27b0!important;*/
}
.template-user{
    /*background-color: #9c27b0!important;*/
}